.item {
}

.item:last-of-type {
}

.users {
  margin-top: 18px;
  width: 606px;
}

.buttonsContainer {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}

.container {
}

.thead {
  background: #e5e5e5;
  font-weight: 600;
  font-size: 14px;
}

.nameCol {
  padding: 11px 17px;
  font-weight: 300;
  border-bottom: 1px solid #e5e5e5;
}

.ageCol {
  font-weight: 500;
}
