.greetingForm {
  margin: 20px 30px;
}

.inputAndButtonContainer {
  display: flex;
  column-gap: 10px;
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.input {
}

.input:focus {
  border: 1px solid blue;
}

.errorInput {
  border: 1px solid red;
}

.button {
  padding: 5px 10px;
  background: blue;
  color: #fff;
  border-radius: 3px;
}

.button:focus {
}

.button:active {
}

.button:disabled {
  opacity: 0.5;
}

.text {
  color: #c1bfbf;
}

.greeting {
}
